.header {
}
.logo {
  width: 50px;
  height: 40px;
}
.search_bar {
  margin-left: 965px;
  width: 250px;
  height: 30px;
}
.search_icon {
  width: 30px;
  height: 20px;
}
.returns {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 20px;
}
.basket {
  margin-left: 30px;
  width: 50px;
  height: 40px;
}
.count_basket {
  display: inline-block;
}
/* --------------------------------------------------- */
span {
  display: inline-block;
}
.vegetables {
  border: 2px solid black;
  margin: 30px 90px 90px 90px;
}
img {
  width: 300px;
  height: 300px;
  margin: 10px 10px 20px 10px;
}
.potato .title_pota {
  text-align: center;
}
.potato .price_potato {
  text-align: center;
}
.star {
  text-align: center;
}
.veg_info {
  text-align: center;
}
